<div class="container">
    <h3>Insert Record</h3>
        <%= simple_form_for Record.new do |f| %>
          <%= f.label :title %>
          <%= f.input_field :title, class: 'form-control' %>
          <br>
          <%= f.label :amount %>
          <%= f.input_field :amount, class: 'form-control' %>
          <br>
          <%= f.label :date %>
          <%= f.input_field :date ,class: 'form-control' %>
          <br>
          <%= f.submit 'Submit', class:'btn btn-primary' %>
        <% end %>
</div>